main {
  min-height: 80vh;
}
a {
  text-decoration: none !important;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.btn-block {
  display: block !important;
  width: 100% !important;
}

.card-body a {
  text-decoration: none;
}

.rating span {
  margin: 0.03rem;
}

.form-select {
  padding: 12px 12px 12px 24px !important;
}
